.topbar,
.bottombar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 10px;
  height: 9vh;
  position: fixed;
  font-size: 3rem;
  width: 99%;
  a {
    width: 45%;
    height: 90%;
    text-decoration: none;
    color: #008b8b;
  }
  a:hover {
    color: #00ced1;
  }
  .logo {
    color: #008080;
    font-size: 4rem;
  }

  * {
    padding: 0.3rem 0.5rem;
  }
}

.topbar {
  margin-bottom: 0.5rem;
  justify-content: space-between;
  border-bottom: 4px gray solid;
  top: 0;
  a {
    height: 5rem;
  }
  .logo {
    font-size: 5rem;
    text-align: left;
  }
  .settings {
    font-size: 4.5rem;
    text-align: right;
  }
  .title {
    width: 60vw;
  }
}
.bottombar {
  margin-top: 0.5rem;
  border-top: 4px gray solid;
  bottom: 0;
  height: 4rem;
  .bottomBtn {
    margin-right: 0.4rem;
    margin-left: 0.4rem;
    border: 1px solid gray;
    border-radius: 3px;
    box-shadow: 3px 3px 3px 0px gray;
  }
  .bottomBtn:hover {
    box-shadow: 1px 1px 3px 0px gray;
  }
}
