.topbar,
.bottombar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 10px;

  a {
    width: 45%;
    height: 90%;
    text-decoration: none;
    color: #008b8b;
  }
  a:hover {
    color: #00ced1;
  }
  .logo {
    color: #008080;
  }

  * {
    padding: 0.3rem 0.5rem;
  }
}

.topbar {
  margin-bottom: 0.5rem;
  justify-content: space-between;
  border-bottom: 2px gray solid;
  a {
    font-size: 2.9rem;
    height: 3rem;
  }
  .logo {
    text-align: left;
  }
  .settings {
    text-align: right;
  }
}
.bottombar {
  margin-top: 0.5rem;
  border-top: 2px gray solid;
  font-size: 1.5rem;
  height: 2.8rem;
  .bottomBtn {
    margin-right: 0.2rem;
    margin-left: 0.2rem;
    border: 1px solid gray;
    border-radius: 3px;
    box-shadow: 3px 3px 3px 0px gray;
  }
  .bottomBtn:hover {
    box-shadow: 1px 1px 3px 0px gray;
  }
}
