html {
  height: 100vh;
}
* {
  margin: 0;
  padding: 0;
  background-color: #ffdead;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mainBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 82vh;
  margin-top: 13vh;
  margin-bottom: 10vh;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 2rem;
  * {
    font-size: 2rem;
  }
  h2 {
    font-size: 2.5rem;
  }
}

.authForm {
  display: flex;
  flex-direction: column;

  input {
    width: 100%;
  }

  label {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
  }
}

.submitBtn {
  width: 40%;
  color: green;
  border: green 2px solid;
  border-radius: 4px;
  input {
    background-color: green;
  }
}

.logoutBtn {
  width: 35%;
  border-radius: 4px;
  background-color: red;
}

.weather-buttons {
  display: flex;
  flex-direction: row;
  button {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding: 0.3rem;
    border-radius: 6px;
    background-color: blueviolet;
    color: white;
    box-shadow: 4px 4px 4px 2px gray;
  }
}

.forecastItemBox {
  margin-bottom: 0.3rem;
  padding: 0.1rem;
  border: 2px gray solid;
  border-radius: 4px;

  p {
    font-size: 1.5rem;
  }
  small {
    font-size: 1rem;
  }
}

hr {
  margin-top: 0.5rem;
  margin-bottom: 0.3rem;
}

// tweets
.tweetBox {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 55%;
  border: solid gray 2px;
  border-radius: 4px;
  margin-bottom: 1rem;
  padding: 0.2rem 0.4rem;
  small {
    font-size: 1.5rem;
    margin-top: 0.3rem;
    b {
      font-size: 1.6rem;
      margin-right: 0.5rem;
    }
  }
}
